@{
    ViewData["Title"] = "Entre para acessar a página";
}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow rounded-3">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Login</h3>

            <form asp-action="LoginPost" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" name="Email" class="form-control" id="email" required>
              </div>
              <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" name="Password" class="form-control" id="senha" required>
              </div>

              <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
